{% extends 'base.html' %}
{% block body %}
<p> Languages</p>
<!-- html form -->
<form action="/team_name_url/" method="post">
    <label for="language_name">Enter name of language: </label>
    <input id="language_name" type="text" name="language_field" value="Default language">
    <input type="submit" value="OK">
    <label for="complexity">Enter complexity: </label>
    <input id="complexity" type="text" name="complexity_field" value="Default complexity">
    <input type="submit" value="OK">
</form>

<!-- django form -->

<button class="btn btn-warning" type="button">bootstrap-элемент</button>
{% endblock %}